*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* color-scheme: dark; */
  font-size: 62.5% !important;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

header,
main,
footer {
  max-width: 192rem;
  margin-inline: auto !important;
}


.main-sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.container{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 50px;
  border-radius: 5px;
}

.main-sec hr{
  color: blue;
  margin-bottom: 17px;
}


@media screen and (max-width: 450px){
   
  .container{
    background-image: linear-gradient(to top, #30509c 0%, #eef1f5 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 50px;
  }
  .main-sec{

    background-image: linear-gradient(to top, #f1efee 0%, rgb(255, 255, 255) 100%);
  }
  
}

@media screen and (min-width: 450px) and (max-width: 850px){

  .container{
    padding: 50px;
    width: 70%;
    font-size: 5vw;

  }
    
}